{% extends 'base.html' %}

{% block title  %} checkout  {% endblock title %}

{% block content %}
 <div class="container">
     <div class="row">
         <div class="col-md-6">
             <h3 style="color: crimson;">Itims in th cart</h3>
             <a href="{% url 'myapp:mycart' %}" >Update Crat</a>
         </div>
             <table class="table table-dark table-hover  ">
                <thead>
                    <tr style="color: #ffff;">
                        <th  >SN</th>
                        <th>Name</th>
                        <th >address</th>
                        <th  class="text-right" >date</th>
                        <th >Rate</th>
                        <th >Quantity</th>
                        <th >Subtota</th>
                       
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td >{{forloop.counter}}</td>
                        <td >{{cp.produt.name_E}}</td>
                        <td >{{cp.produt.address_E}}</td>
                        
                        <td >{{cp.produt.date_E}}</td> 
                                       
                        <td >{{cp.rate}}</td>
                        <td >{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                    </tr>
                    {% endfor %} 
                    <tr>
                        <th colspan="4" class="text-right">Total</th>
                        <th>Rs. {{cart.total}}</th>
                    </tr> 
                </tbody>
             </table>
         </div>
        <div class="col-md-6">
            <h3  style="color: crimson;">Chechout Form</h3>
            <div class="border p-3">
                <form method="POST" >
                    {% csrf_token %}
                    <!-- {{form.content}}
                    {{form.date}} -->
                    <label for="validationCustom01" class="form-label" style="color: wheat;">Name</label>
                    <input type="text" name="destinace"  class="form-control" id="validationDefault02"  required> </br>
                    <label for="validationCustom01" class="form-label" style="color: wheat;"> namber percence </label>
                    <input type="number" name="namber_percen"  class="form-control" id="validationDefault02"  required> </br>
            
                    <!-- <input type="text" name="content"> -->
                    <label for="validationCustom01" class="form-label" style="color: wheat;">La date</label>
                    <input type="datetime-local" name="date"  class="form-control" id="validationDefault02"  required></br> 
                    <!-- <input type="datetime-local" id="meeting-time"
                    name="date" value="2018-06-12T19:30"
                    min="2018-06-07T00:00" max="2018-06-14T00:00"> -->
                    <input class="btn btn-success btn-block" type="submit" value="Submit">
                </form>

        
     </div>
 </div>
{% endblock %}