<h6>Excursions</h6>
<form action="/activitie" method="GET" id="form3">
  <div class="flex-container-pg3">
    <input type="text" class="item5" placeholder="Recipient's username" name="address" >
    <button class="btnsearch" type="submit" id="idBtnSerchCmd"><span class="glyphicon glyphicon-search"></span><i class="bi bi-arrow-right arrow" style="color:black"></i></button>       
  </div>
</form>
<h6>Activities</h6>
<form action="excursions" method="GET" id="form3">
  <div class="flex-container-pg3">
    <input type="text" class="item5" placeholder="Recipient's username" name="address_E"   >
    <button class="btnsearch" type="submit" id="idBtnSerchCmd"><span class="glyphicon glyphicon-search"></span><i class="bi bi-arrow-right arrow" style="color:black"></i></button>       
  </div>
</form>

